.about{
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    font-family: arial;
}

.about h2{
    color: aliceblue;
    font-size: 46px;
}

.about__texto{
    color: aliceblue;
    font-size: 26px;
    width: 70%;
}